@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

:root{
  --color-deepaqua:#003B46;
  --color-ocean:#07575B;
  --color-wave:#66A5AD;
  --color-seafoam:#C4DFE6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin: 0;
}

/*mobile friendly alternative to using mobile background attachmennt: fixed */

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--color-deepaqua);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  font-weight: 400;
  line-height: 1.2;
}

p{
  font-size: 1.125rem;
}

h1,
p{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

